<template>
  <v-container>
    <div>
      <h1>User details & settings</h1>
    </div>
    <v-card>
      <v-form>
        <v-container grid-list-xl fluid>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-text-field
                value="Vasya"
                label="First name"
                placeholder=" "
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field
                value="Pupkin"
                label="Last name"
                placeholder=" "
                required
              ></v-text-field>
            </v-flex>
            <v-flex sm12>
              <v-text-field
                value="vasya@pupkin.ru"
                label="E-mail"
                disabled
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex sm12>
              <v-textarea
                label="About me"
                placeholder=" "
              ></v-textarea>
            </v-flex>
            <v-flex sm6>
              <v-text-field
                :value="mylink"
                label="Unique link"
                placeholder=" "
                required
              ></v-text-field>
            </v-flex>
            <v-flex sm6>
              <v-select
                :items="tz"
                label="Timezone"
                persistent-hint
                return-object
              ></v-select>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn color="success" @click="snackbar = true">Save</v-btn>
          <v-btn @click="clear">Cancel</v-btn>
        </v-card-actions>
      </v-form>
      <v-snackbar
        color="success"
        v-model="snackbar"
        :timeout="'1500'"
        top
      >
        Saved
        <v-btn flat @click="snackbar = false">X</v-btn>
      </v-snackbar>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    name: "Profile",
    data() {
      return {
        snackbar: false,
        mylink: "vasyapupkin",
        tz: ['Asia/Vladivostok +10', 'Europe/Moscow +3'],
      }
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
        }
      },
      clear() {
        this.$refs.form.reset()
      }
    },
    computed: {
      full_url() {
        return `http://timeslotify.krkmetal.com/slots/unique_link`;
      }
    },
  }
</script>
