<template>
  <v-footer
    height="auto"
    color="primary"
    app
  >
    <v-layout
      justify-center
      row
      wrap
    >
      <v-flex
        primary
        py-3
        text-xs-center
        xs12
      >
        &copy;2018 — <strong>TeleDo</strong> by Yaroslav Shukharev
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>
