<template>
  <v-container>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <div class="about">
          <h1>Page not found</h1>
          <p>Somethings went wrong...</p>
        </div>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
  export default {
    name: "NotFound"
  }
</script>
