<template>
    <v-flex xs12 sm6 offset-sm3>
        <v-card>
            <v-list two-line subheader>
                <v-container>
                    <p class="text-xs-right"><b>{{todos.length}}</b> Tasks</p>
                    <v-flex xs12>
                        <v-text-field clearable color="white" v-model="asd" id="newTodo" name="newTodo"
                                      label="Type your task" @keydown="setNewTodo" @keyup.enter="addTodo">
                        </v-text-field>
                    </v-flex>
                </v-container>
                <v-list-tile avatar v-for="(todo, i) in todos">
                    <v-list-tile-action>
                        <v-checkbox v-model="todo.done"></v-checkbox>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="title">{{todo.title}}
                        </v-list-tile-title>
                    </v-list-tile-content>
                    <v-btn icon ripple @click="removeTodo(i)">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-list-tile>
            </v-list>
        </v-card>
    </v-flex>
</template>


<script>
  export default {
    name: "Todo",
    data() {
      return {
        asd: ''
      }
    },
    created() {
      this.$store.dispatch('loadTodos')
    },
    computed: {
      newTodo() {
        return this.$store.getters.newTodo
      },
      todos() {
        return this.$store.getters.todos
      },
    },
    methods: {
      setNewTodo(e) {
        this.$store.dispatch('setNewTodo', e.currentTarget.value)
      },
      addTodo(e) {
        e.target.value = '';
        this.$store.dispatch('addTodo');
        this.$store.dispatch('clearNewTodo');
      },
      removeTodo(index) {
        this.todo.splice(index, 1);
      },
    }
  }
</script>

<style scoped>
</style>