<template>
  <v-app>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      dark color="primary"
    >
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title v-if="logged">Authorized</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <Footer/>
  </v-app>
</template>

<script>
  import Footer from "./components/Footer";

  export default {
    name: 'App',
    components: {
      Footer,
    },
    data() {
      return {
        title: 'TeleDo',
      }
    },
    computed: {
      logged() {
        return this.$store.getters.user;
      }
    },
    created() {
      this.$store.dispatch('inspectToken');
    },
    updated() {
      this.$store.dispatch('inspectToken');
    },
    beforeUpdate() {
      this.$store.dispatch('inspectToken');
    },
  };
</script>
